<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="copyright.hxqh.com.copyright">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    /** permission **/
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_APN_SETTINGS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEM"/>

    <!-- Permission for Unit Test -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:name=".copright.application.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_image"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_image"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".copright.ui.LoadActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".copright.ui.TheMainActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".copright.ui.PermissionsActivity" />
        <activity
            android:name=".copright.ui.Login_Activity"
            android:label="@string/title_activity_login" />
        <activity android:name=".copright.ui.IRM.AssetListActivity" />
        <activity android:name=".copright.ui.IRM.AssetDetailActivity" />
        <activity android:name=".copright.ui.product.ProductListActivity" />
        <activity android:name=".copright.ui.product.ProductListActivity2" />
        <activity android:name=".copright.ui.product.ProductDetail" />
        <activity android:name=".copright.ui.product.ChannelDetailActivity" />
        <activity android:name=".copright.ui.author.RoyaltyListActivity" />
        <activity android:name=".copright.ui.author.AuthorandRoyalty" />
        <activity android:name=".copright.ui.author.AuthorListActivity" />
        <activity android:name=".copright.ui.UserinfoActivity" />
        <activity android:name=".copright.ui.author.AuthordetailActivity" />
        <activity android:name=".copright.ui.author.RoyaltydetailActivity" />
        <activity android:name=".copright.ui.contract.ContractListActivity" />
        <activity android:name=".copright.ui.publicService.PublicServiceActivity" />
        <activity android:name=".copright.ui.IRM.AssetListActivity2" />
        <activity android:name=".copright.ui.CopyRightDetailsActivity" />
        <activity android:name=".copright.ui.IRM.AssetDetailActivity2" />
        <activity android:name=".copright.ui.product.ChannelActivity" />
        <activity android:name=".copright.ui.ModifyPwdActivity"></activity>
        <activity android:name=".copright.ui.publicService.LawVinDicateDetailActivity"></activity>
        <activity android:name=".copright.ui.publicService.RoyaltyActivity"></activity>
        <activity android:name=".copright.ui.contract.AuthContractdetailActivity"></activity>
        <activity android:name=".copright.ui.contract.ContractdetailActivity"></activity>
        <activity android:name=".copright.ui.publicService.ConsultActivity"></activity>
        <activity android:name=".copright.ui.publicService.ConsultDetailActivity"></activity>
        <provider android:name="android.support.v4.content.FileProvider"
            android:authorities="com.pgyersdk.copyright.provider.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
    </application>

</manifest>